@import url('https://fonts.googleapis.com/css?family=Inconsolata|Montserrat');

:root {
    --main-bg-color: #fffefe;
    --soft-highlight-color: rgba(207, 145, 207, 0.1);
    --title-color: rgb(50, 90, 200);
    font-size: 15px;
    --softest-highlight-color: rgba(207, 145, 207, 0.05);
    --softest-alt-highlight-color: rgb(50, 90, 200, 0.05);
}

* {
    box-sizing: border-box;
    overflow-wrap: break-word;
}

body {
    background-color: var(--main-bg-color);
    margin: 0;
    padding: 0;
}

main,
article,
section,
header {
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    min-height: 100px;
    width: 100%
}

section {
    position: relative;
    width: 210mm;
    height: 297mm;
    /* padding: 0.7cm; */
    padding: 1.66cm;
    border: 1px dashed rgba(31, 28, 34, 0.5);
}

article {
    margin: 0.25cm 0;
}

article div {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

h1+h2 {
    text-align: center;
}

h1 {
    font-family: 'Inconsolata', monospace;
    font-size: 3.8rem;
    margin-bottom: 0.5rem;
    color: var(--title-color);

}

h2,
h3 {
    display: fixed;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 0.5rem;

}

h2 {
    font-size: 1.6rem;
    width: 100%;
}

h3 {
    font-size: 1.25rem;
    text-decoration: underline;
}

p,
ul,
a {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.25rem;
}

ul {
    /* list-style-type: circle; */
    text-align: center;
}

li:not(:last-child) {
    padding-bottom: 5px;
}

p:not(:last-child) {
    margin-bottom: 5px;
}

a,
a:visited {
    color: var(--title-color);
}

b,
strong {
    font-weight: bold;
    background-color: var(--soft-highlight-color);
    padding-right: 2px;
    padding-left: 2px;
}

#contact {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.contact-item {
    min-height: 70px;
    min-width: 60px;
    background-color: var(--soft-highlight-color);
    flex: 1;
    margin: 5px;
    justify-content: center;
}

.multi-column {
    flex-direction: row;
}

.multi-column>div {
    flex-direction: row;
    align-items: flex-start;
}

.multi-column div {
    width: 100%;
    flex: 1;
}

div {
    padding: 5px;
}

.email {
    /* flex: 1.5; */
}

footer {
    position: absolute;
    bottom: 2cm;
    left: 2cm;
    width: 100%;
}

footer>p {
    color: rgba(0, 0, 0, 0.5);
}


.exp {
    align-items: flex-start;
    width: 100%;
}

.exp:not(:first-of-type) {
    margin-top: 10px;
}

p {
    margin-left: 3px;
}

/* li:nth-child(odd) {
    background-color: var(--softest-highlight-color);
}

li:nth-child(even) {
    background-color: var(--softest-alt-highlight-color);
} */