@import url('https://fonts.googleapis.com/css?family=Inconsolata|Montserrat');
/* font-family: 'Montserrat', sans-serif;
font-family: 'Inconsolata', monospace; */

:root {
    --main-bg-color: #fffefe;
  }

* {
  box-sizing: border-box;
  font-size: 16px;
  overflow-wrap: break-word;
}

body {
  background-color: var(--main-bg-color);
  margin: 0px;
  padding: 0px;
}

.page {
  width: 210mm;
  height: 297mm;
  padding: 0.5cm;
  margin: 0px auto;
  border: 1px solid rgb(31, 28, 34);
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "a a a a b b b" 
    "c c c c c c c" 
    "e e e e e d d" 
    "e e e e e d d" 
    "e e e e e d d" 
    "f f f f f g g" 
    "f f f f f g g" 
    "h h h h h g g" 
    "h h h h h i i" 
    "h h h h h i i" 
    "j j j j j j j";
  }
  
  
  @media all and (-ms-high-contrast:none) {
    .grid-container {
      display: -ms-grid;
      -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
  
  }  

h1, h2, h3 {
    font-family: 'Inconsolata', monospace;
}

h1 {
    font-size: 3.5rem;
    /* font-weight: bold; */
}

h2 {
    font-size: 2rem;
    margin-top: calc((0.2cm + 1rem) * -1);
    /* margin-left: 3px; */
    background: var(--main-bg-color);
    /* white-space: nowrap; */
    position: absolute;
    display: inline-block;
    padding: 0px 3px;
}

h3 {
    font-size: 1.5rem;
    text-decoration: underline;
}

p, a {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.25rem;
}

p:not(:last-child), a:not(:last-child) {
     padding-bottom: 0.125rem; 
}

a, a:visited {
    color: rgb(69, 47, 197);
    text-decoration-line: none;
}

.block {
    margin: 0.25cm;
    padding: 0.125cm;
    border: 2px solid rgb(164, 185, 241);
    display: flex;
    flex-direction: column;
}

h2 + * {
    padding-top: 0.75rem;
}

#main-title {
    grid-area: a;
    background-color: rgba(207, 145, 207, 0.3);
    /* align-items: center; */
    justify-content: center;
}

#contact {
    grid-area: b;
    background-color: white;
}

.detail-pair {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;    
}

#skills {
    grid-area: d;
    /* background-color: goldenrod; */
}

#personal-summary {
    grid-area: c;
}

#dev-experience {
    grid-area: e;
}

#footer {
    grid-area: j;
}