@import url('https://fonts.googleapis.com/css?family=Inconsolata|Montserrat');

:root {
    --main-bg-color: #fffefe;
    --soft-highlight-color: rgba(207, 145, 207, 0.1);
    --title-color: rgb(50, 90, 200);
    font-size: 15px;
}

* {
    box-sizing: border-box;
    overflow-wrap: break-word;
}

h1,
h2,
h3 {
    font-family: 'Inconsolata', monospace;
    padding-bottom: 0.125rem;
}

h1 {
    font-size: 3.8rem;
}

.flex-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 300px;
}

ul,
ol,
p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.7rem;
    margin: 1rem;
}

p {
    line-height: 2rem;
}

li {
    margin: 0.7rem;
    padding: 0.5rem;
}

a {
    color: var(--title-color);
    text-decoration: none;
    background: var(--soft-highlight-color);
    border-radius: 5px;
}

#intro {
    width: 60vw;
    min-width: 500px;
}